<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>묻고답하기(Q&A)</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Song+Myung&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/set.css">
    <link rel="stylesheet" href="/css/subHeader.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/subCont4.css">
</head>
<body>
    <%- include("subHeader.ejs")%>
    <div id="container">
        <div class="center">
            <div class="title">묻고답하기(Q&A)</div>
            <div class="top_box">
                <form id="searcForm" action="/search" method="get">
                    <select name="search">
                        <option value="title">제목</option>
                        <option value="content">내용</option>
                        <option value="author">작성자</option>
                    </select>
                    <input type="text" id="inputText" name="inputText">
                    <button id="serchBtn" type="submit"></button>
                </form>
            </div>
            <div class="center_box" style="margin-top: 20px; margin-bottom: 20px;">
                <table class="tb1">
                    <tr class="top">
                        <td>번호</td>
                        <td>제목</td>
                        <td>작성자</td>
                    </tr>
                    <tr class="mid">
                        <th>공지</th>
                        <th>2022부여문화재야행 홈페이지 시범운영 안내</th>
                        <th>관리자</th>
                    </tr>
                        <% if (data.length > 0) { %>
                            <% for (let i = 0; i < data.length; i++) { %>
                              <tr>
                                <th><%- data[i].num %></th>
                                <th>
                                  <a href="/subCont4_2_detail/<%- data[i].num %>" style="color:#333333">
                                    <%- data[i].title %>
                                  </a>
                                </th>
                                <th><%- data[i].author %></th>
                              </tr>
                            <% } %>
                          <% } else { %>
                            <tr>
                              <td colspan="3">검색 결과가 없습니다.</td>
                            </tr>
                          <% } %>
                </table>
                <div class="bot">
                    <a href="/sub4_2">목록</a>
                    <a class="upload" href="/subCont4_2_insert">글쓰기</a>
                </div>
            </div>
            <div class="bot_box">
                <ul class="paging">
                    <!-- 1페이지로 이동하는 작업-->
                    <% if(pageNumber <= 1){ %>
                        <li>처음</li>
                    <% } else { %>
                        <!-- /boardtest?page=1 -->
                        <li><a href="?page=1">처음</a></li>
                    <% } %>
            
                    <!-- 이전버튼 생성작업 페이지 시작번호가 그룹의 총갯수보다 크다면 이전버튼 생성-->
                    <% if(blockStart > totalBlock){ %>
                        <li><a href="?page=<%- blockStart - 1 %>">이전</a></li>
                    <% } %> 
            
                    <!-- 페이지 시작번호값 부터 끝번호까지 li태그 생성-->
                    <% for(let i = blockStart; i <= blockEnd; i++ ) { %>
                        <!-- 현재 보고있는 페이지 번호인 경우 색상 활성화-->
                        <% if(pageNumber == i) { %>
                            <li class="highlight"><a href="?page=<%- i %>"><%- i %></a></li>
                        <% } else { %>
                            <li><a href="?page=<%- i %>"><%- i %></a></li>
                        <% } %>
                    <% } %>
            
                    <!-- 다음버튼 생성작업 -->
                    <% if(blockNum < totalBlock) { %>
                        <li><a href="?page=<%- blockEnd + 1 %>">다음</a></li>
                    <% } %>
            
                    <!-- 페이지 마지막 번호로 이동 -->
                    <% if(pageNumber >= totalPaging) { %>
                        <li>마지막</li>
                    <% } else { %>
                        <li><a href="?page=<%- totalPaging %>">마지막</a></li>
                    <% } %>
                 </ul>
            </div>
        </div>
    </div>
    <%- include("footer.ejs")%>
    <script src="/js/header.js"></script>
    <script>


        const searchForm = document.querySelector("#searchForm"); //폼태그
        const inputText = document.querySelector("#inputText"); //검색어 입력
        const searchBtn = document.querySelector("#searchBtn");// 전송버튼

        searchBtn.addEventListener("click",(event)=>{
             let data = inputText.value; //검색어 입력값 data변수에 담음

             let result = data.trim();

             if(result === ""){
                alert("검색어 입력하세요")
                event.preventDefault();
             }
             else{
                searchForm.submit();
             }
            
        })
    </script>
</body>
</html>