<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>묻고답하기 상세 테스트</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Song+Myung&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/set.css">
    <link rel="stylesheet" href="/css/subHeader.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/subCont4_2_detail.css">
</head>
<body>
    <%- include("subHeader.ejs")%>
    <div id="container">
        <div class="center">
            <div class="title">공지사항</div>
            <div class="user">
                <h4><%- data.title %></h4>
                <div class="contBox">
                    <div class="top_content">
                        <p>작성자</p>
                        <span><%- data.author %></span>
                    </div>
                    <div class="content"style="line-height: 30px;">
                        <p style="white-space: pre-line;">
                            <%- data.content %>
                        </p>
                    </div>
                </div>
            </div>
            <div class="btns">
                <a href="/sub4">목록</a>
            </div>
        </div>
    </div>
    <%- include("footer.ejs")%>
    <script src="/js/header.js"></script>
</body>
</html>